extends layout
block content
  h1 Results
  table
    thead
      tr
        th Email
        th Valid
        th Message
    tbody
    each result, email in results
      - var k = result.valid ? 'valid' : 'invalid'
      tr(class=k)
        td= email
        td= result.valid
        td= result.message
