extends layout

block content
  h1 Emailable
  h2 Find out if an email is valid

  form(method="POST", action="/check")
    textarea(name="emails", style="width: 300px; height: 500px;")

    input(type="submit",value="Check it!")
